body{
    background-image: url("img/lilypads.png");
   
}

/* .container{
    margin-top: 50px;
    border: 1px solid #cccccc;
    } */

.navbar-brand{
  font: bold;
    
  
    
}
nav{
    border: 1px solid #cccccc;
}
